[Desktop Entry]
Name=Menu
Icon=/usr/share/menu/menu.jpg
Exec=/usr/bin/python /home/pi/web-server/menu.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Other;
