[Desktop Entry]
Name=Little Crane
Comment=The Little Crane That Could
Icon=/home/pi/littlecrane/littlecrane.png
Exec=/usr/local/bin/indiecity/InstalledApps/littlecrane/Full/startlittlecrane.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
